    </div>


    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">



      <p><div id="icon"></div></p>
      <h4>ramage.in</h4>
      <h6>Ryan Ramage</h6>
      <ul class="side-nav">
        <li><a href="https://github.com/ryanramage">Github</a></li>
        <li><a href="http://twitter.com/ryan_ramage_">Twitter</a></li>
        <li><a href="mailto:ryan.ramage@gmail.com?subject=hi">Say Hello</a></li>
      </ul>
    </div>

  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="jam/require.js"></script>
  <script type="text/javascript">
    require(['js/app'], function(app) {
        app({
          element: 'icon',
          size: 200
        });
    })

  </script>
</body>
</html>