 <div class="post">
        <a href="./{{slug}}"><h3>{{title}} <small>{{date}}</small></h3></a>

        {{#img}}
        <img src="{{img}}" />
        {{/img}}

        <div class="entry">
            {{{entry}}}
        </div>
        <div class="kudos bottom" data-id="{{_id}}">
            <a href="#kudo">
              <div class="filling">&nbsp;</div>
              <div class="check">&#10004;</div>
              <div class="count">0</div>
              <div class="txt">Kudos</div>
            </a>
        </div>

        {{#one_entry}}
        <div class="read_next"></div>
        <div class="full_blog">
            <a href="./">&larr; Full Blog</a>
        </div>
        {{/one_entry}}
</div>